.suggestion {
    background-color: lightgray;
    max-width: max-content;
    padding: 2px 5px;
    border-radius: 3px;
    margin: 2px;
}
.suggestion:hover {
    background-color: gray;
    color: white;
}